.main {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: max-content;

  @media (max-width: 610px) {
    flex-direction: column;
    height: 100vh;
  }
  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: scroll;
    width: 85%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    @media (max-width: 610px) {
      height: 85vh;
      width: 100%;
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }
  .logo-wrapper {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    @media (max-width: 610px) {
      display: none;
    }
    img {
      width: 300px;
      @media (max-width: 1200px) {
        width: 270px;
      }
      @media (max-width: 715px) {
        width: 170px;
      }
    }
  }

  .section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: 610px) {
      height: 85vh;
      flex-direction: row;
    }
  }

  .rerr {
    width: 100%;
  }
}
