.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: max-content;
  border: 5px solid #ffffff;
  border-radius: 20px;
  padding: 3rem 1.6rem;
  margin: 3rem 1.6rem;
  gap: 2rem;

  animation-name: example;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  @media (max-width: 610px) {
    flex-direction: row;
    padding: 1rem 1.6rem;
    margin: .8rem 1.6rem;
  }
  img {
    width: 300px;
    filter: drop-shadow(0px 8px 103px rgba(255, 255, 255, 0.6));
  }
  a,
  div {
    color: #fff;
    svg {
      width: 30px;
      height: auto;
    }
  }
}
